<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kumoru Sample Application</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  </head>
  <body>
    <div class="container">
      <img class="responsive-img" src="http://kumoru.io/img/logo-ondark.svg">
      <div class="row">
        <div class="col s12"><h5>Kumoru.io Sample Application</h5></div>
      </div>
      <div class="divider"></div>
      <div class="section green lighten-2">
        <h5>Image Information</h5>
        <p>Image URL: quay.io/kumoru/sample-app</p>
        <p>Image Tag: green</p>
      </div>

        <h5>Environment Variables</h5>
          {{range $key, $value := .Env}}
          <p>{{$key}} = {{$value}}</p>
          {{end}}
    </div>
  </body>
</html>
